body {
  font-family: Roboto, Noto, sans-serif;
}
.header .shop {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-weight: 300;
}
select {
  padding: 2px 0px 4px 0px;
  font-size: 17px;
}
select:focus,
select:valid {
  outline: none;
}
form{
    display: block;
    position: relative;
}
label {
  display: block;
  position: absolute;
  top: 7px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.3s ease;
}
input {
  display: block;
  position: relative;
  background: none;
  width: 90%;
  border-top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 0px;
  border-right: 0px;
  z-index: 2;
}
input:focus,
input:valid {
  outline: none;
}
input:focus+label,
input:valid+label{
  top: -10px;
  font-size: 11px;
  color: #000;
}
.group{
    position: relative;
}
.bar{
    display: block;
    position: relative;
    width: 90%;
}
.bar:before , .bar:after{
    content:'';
    width: 0;
    height: 2px;
    bottom: 20px;
    position: absolute;    
    transition: 0.3s all ease; 
    background: #000;    
}
.bar:before{
    left: 50%;
}
.bar:after{
    right:50%;
}
input:focus ~ .bar:before ,input:focus ~ .bar:after{
    width: 50%;
}
.maincontainer {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  padding: 40px 150px 40px 150px;
  grid-gap: 30px;
}
.checkoutbar {
  margin-top: 60px;
  display: block;
  text-align: center;
}
.printcheckout {
  padding-bottom: 10px;
}
.demo {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}
.container1,
.container2 {
  width: 90%;
}
.printsummary,
.printaccount,
.printshipping,
.printpayment {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 40px;
}

input[type="text"] {
    margin-bottom: 20px;
  font-size: 1em;
  font-weight: 400;
  padding: 2px 0px 4px 0px;
}
.account {
  margin-bottom: 30px;
}
.pin {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  width: 95%;
}
.printexpiry {
  display: block;
  margin-bottom: 10px;
}
.expiry {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  width: 95%;
}
#month,
#year,
#countrydropdown {
  background-color: transparent;
  width: 70%;
  border: transparent;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}
.items {
  display: flex;
  margin-bottom: 10px;
  font-size: 12px;
  justify-content: space-between;
}
#total {
  margin-top: 30px;
}
.placeorder {
  margin-top: 25px;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid;
}
.printbilling {
  margin-top: 30px;
  margin-bottom: 20px;
}
.checkbox1 {
  display: flex;
}
input[type="checkbox"] {
  width: 20px;
  border: solid 2px;
}
ul {
  color: rgba(0, 0, 0, 0.5);
}
