body {
  font-family: Roboto, Noto, sans-serif;
}
.header .shop {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-weight: 300;
}
.navbar {
  display: flex;
  font-size: 15px;
  justify-content: center;
  margin-bottom: 25px;
}
.navbar div {
  padding-right: 25px;
}
.container {
  display: grid;
  grid-template: 600px / repeat(2, 1fr);
  grid-gap: 55px;
  padding: 75px 0px 50px 75px;
}
select:focus,select:valid{
    outline: none;
}

.image {
  background-image: url("images/sweatshirt.jpg");    
}
.desc{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}
.info{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.price{
    margin-bottom: 35px;
}
.dropdown{
    display: flex;
    border-top: solid 1px rgba(0,0, 0,.4);
    border-bottom: solid 1px rgba(0,0, 0,.4);
    padding-top: 15px;
    padding-bottom: 15px; 
    width: 70%;
   
}
.desc{
    width:70%;
}

 #quantity{
    margin-bottom: 38px;
}
.printsize{
    margin-right: 40px;
}
.printquantity{
    margin-right: 10px;
}
.dropdown #size{
    background-color: transparent;
    border: transparent;
    width: 80%;
}
.dropdown{
    width: 90%;
}
.printdescription{
    margin-bottom: 18px;
}
.description{
    margin-bottom: 18px;
}
.features{
    margin-bottom: 18px;
}
.addtocart{
    display: inline-block;
    padding: 10px 20px ;
    border: 2px solid; 
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #000;
}
.footer1{
    display: none;
    justify-content: center;
}
.made{
    justify-content: center;
}
ul,.printfeatures,.description,.printsize,.printquantity{
    color: rgba(0, 0, 0, 0.5)
}